<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= siteName %> | <%= pageTitle %></title>
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>

<body>
<header class="header">

  <%- include(`./partials/header`) %>

</header>
<main class="main">

  <%- include(`../pages/${template}`) %>

</main>

<% if (template !== "done") { %>
  <%- include(`./partials/scripts`) %>
<% } %>

</body>
</html>
